.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 12px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
}
.check {
    margin-left: 8px;
    width: 14px;
    height: 14px;
    color: #20d5ec;
}
.username {
    color: var(--gray-color);
    font-weight: 300;
}
