.wrapper {
}
.container {
    display: flex;
    height: calc(100vh - var(--default-header-height));
}
.content {
    flex: 1;
    background-color: green;
    height: calc(100vh - var(--default-header-height));
    overflow-y: scroll;
}
