.wrapper {
    display: flex;
    align-items: center;
    //justify-content: center;
    min-width: 100px;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: #fff;
    color: var(--text-color);
    user-select: none;
    cursor: pointer;
    + .wrapper {
        margin-left: 16px;
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.icon {
    display: inline-block;
    text-align: center;
    height: 20px;
}
//Has icon
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

//Primary
.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.rounded {
    border-radius: 999px;
    color: rgba(22, 24, 35, 0.75);
}

.outline {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    border: 1px solid currentColor;
    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
    }
}

//Button size
.small {
    min-width: 90px;
}
.large {
    padding: 14px 0px;
    min-width: 208px;
}
