.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white-color);

    height: var(--default-header-height);
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.12);
}
.inner {
    height: 100%;
    padding: 0 24px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//Logo
.logo {
    min-width: 300px;
    height: 42px;
}

//Action
.action {
    display: flex;
    align-items: center;
    height: 36px;
    width: 270px;
}
.action-btn {
    font-size: 2rem;
    margin-left: 16px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
}

.action-btn .notification-number {
    position: absolute;
    top: 6px;
    right: 6px;
    transform: translate(50%, -50%);
    padding: 2px 6px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 999px;
    font-size: 1.2rem;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.more-btn {
    font-size: 2rem;
    margin-left: 16px;
    background-color: transparent;
    padding: 4px 8px;
    &:hover {
        cursor: pointer;
    }
}
