//Menu
.menu-list {
    width: 250px;
    //Menu content
    .menu-body {
        max-height: 500px;
        overflow-y: scroll;
        //Menu item
        .menu-item {
            margin-left: 0px;
            width: 100%;
            border: none;
            height: 42px;
            font-weight: 600;
        }
    }
    .separate {
        border-top: 1px solid rgb(0, 0, 0, 0.12);
    }
}
//Menu Header
.header {
    position: relative;
    height: 50px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}
