@import 'normalize.css';

:root {
    //Color
    --primary-color: #fe2c55;
    --back-color: black;
    --white-color: white;
    --text-color: #333;
    --gray-color: rgba(22, 24, 35, 0.5);
    //Default layout
    --default-header-height: 60px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Tiktok', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//Custom button,input,a
button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'Tiktok', sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//Font embed
@font-face {
    font-family: 'Tiktok';
    src: url('/assets/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Tiktok';
    src: url('/assets/font/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Tiktok';
    src: url('/assets/font/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Tiktok';
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
    font-weight: 800;
}

//Custom tippy box
body {
    .tippy-box {
        text-align: left;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2;
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
        padding: 4px;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
